<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/customs.css">
    <title>Добоавление товара</title>
</head>
<body>
    <h1>Добавление нового товара</h1>
    <form action="add" method="post">
        <label for="name">Наименование</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="name">Описание</label><br>
        <input type="text" id="desc" name="desc"><br><br>
        <label for="name">Вес 1 единицы</label><br>
        <input type="text" id="weight" name="weight"><br><br>
        <label for="quantity">Количество</label><br>
        <input type="text" id="quantity" name="quantity"><br><br>
        <label for="name">Цена поставщика</label><br>
        <input type="text" id="price" name="price"><br><br>
        <input type="submit" value="Добавить продукт">
    </form>
    <br>
    <form action="/">
        <button>К списку товаров</button>
    </form>
</body>
</html>
